.modal {
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
}

.modal-content {
  position: relative;
  background-color: wheat;
  margin: auto;
  padding: 0;
  border: 1px solid rgb(43, 27, 27);
  width: 80%;
  animation-name: animateModal;
  animation-duration: 0.8s;
}

.close-modal-icon {
  cursor: pointer;
  color: black;
  font-size: 40px;
  float: right;
  font-weight: bold;
}

.close-modal-icon:hover {
    color: #fff;
}

button{
    margin-top: 30px;
    background-color: darkorange;
    padding: 8px;
    border-color: darkmagenta;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    color: darkmagenta;
}

.header {
  padding: 4px 16px;
  background-color: darkmagenta;
  color: white;
}

.body {
  padding: 2px 15px;
  height: 200px;
  background-color: darkorange;
}

.footer {
  padding: 2px 16px;
  background-color: darkmagenta;
  color: white;
}

@keyframes animateModal {
  from {
    top: -200px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
